src/main/app/employee_transform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="employee_transformFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="c20f363b-a4af-4885-a38c-7a5b87b8021d">
            <dw:input-payload doc:sample="sample_data\Employees.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
payload.Employees]]></dw:set-payload>
        </dw:transform-message>
        <exception-strategy ref="global_exceptions_for_Employee_API" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
